<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>showCustomers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<h2>List of All Customers</h2>

<table>
    <thead>
    <tr>
        <th>Login</th>
        <th>Password</th>
        <th>Name</th>
        <th>Price</th>
    </tr>

    <tr th:each="user : ${allUsers}">
        <td><span th:text="${user.login}"> login </span></td>
        <td><span th:text="${user.password}"> password </span></td>
        <td><span th:text="${user.name}"> name </span></td>
        <td><span th:text="${user.email}"> email </span></td>
    </tr>

    </thead>


</table>


</body>
</html>