<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>showCustomers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<h2>List of All Customers, Yes</h2>

<table>
    <thead>
        <tr>
            <th>Login-1</th>
            <th>brand_id</th>
            <th>model_id</th>
            <th>Description</th>
        </tr>

        <tr th:each="carAd : ${allCarsAds}">
            <td><span th:text="${carAd.getId()}"> ID </span></td>
            <td><span th:text="${carAd.getCars_brand_id()}"> brand_id </span></td>
            <td><span th:text="${carAd.getCars_model_id()}"> model_id </span></td>
            <td><span th:text="${carAd.getDescription()}"> Description </span></td>
        </tr>

    </thead>


</table>


</body>
</html>